/// Default breakpoint for small devices
/// @type Number
$bm-small: 320px;

/// Default breakpoint for medium devices, such as small tablets in portrait mode
/// @type Number
$bm-medium: 768px;

/// Default breakpoint for large devices, mostly smaller laptop screens oder split-screen use-cases
/// @type Number
$bm-large: 1024px;

/// Default breakpoint for big devices, standard laptop screens
/// @type Number
$bm-big: 1280px;

/// Default breakpoint for huge screen-sizes, HD-Desktops oder large laptops
/// @type Number
$bm-huge: 1440px;

/// Default amount of columns to use by `$susy`
/// @type Number
$bm-columns: 12;

/// The default page-width
/// @type Number
$bm-page-width: 1200px;

/// Default column-width in pixels for usage with `$susy`
/// @type Number
$bm-column-width: 80px;

/// Default gutter-width in pixels for usage with `$susy`
/// @type Number
$bm-gutter-width: 20px;

/// Susy-Grid-Setup
/// Initializes a custom Susy-Configuration to create a grid.
/// @type Map
/// @prop {String} key - Setting-keywords that are required by Susy to build a grey
/// @prop {String | Number} value - A value mapped to the settings
/// @requires $bm-columns
/// @requires $bm-column-width
/// @requires $bm-gutter-width
/// @link http://susy.oddbird.net// Susy-Framework
$susy: (
  columns: $bm-columns,
  column-width: $bm-column-width,
  gutters: $bm-gutter-width / $bm-column-width,
  math: fluid,
  output: float,
  gutter-position: inside-static,
);