/// Default-fontsize
/// @type Number
$bm-fontsize: 16px;

/// Default line-height
/// @type Number
/// @requires $bm-fontsize
$bm-lineheight: $bm-fontsize * 1.25;

/// Fallback font-set
/// @type String
$bm-font-fallback: Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/// List of all headline selectors
/// @type List
$bm-headings: h1, h2, h3, h4, h5, h6;

/// List of all (basic) text-block selectors
/// @type List
$bm-text-blocks: p, ul, ol, dl;

/// Helper to reset the top margin
%bm-reset-margin-top {
  margin-top: 0;
}

/// Helper to set top and bottom margin on elements
/// @requires $bm-fontsize
%bm-text-margin {
  margin-top: $bm-fontsize * 2;
  margin-bottom: $bm-fontsize * 2;
}